[submodule "Vooler-BackEnd"]
	path = Vooler-BackEnd
	url = git@github.com:minhson0506/Vooler-BackEnd.git
[submodule "Vooler-FrontEnd"]
	path = Vooler-FrontEnd
	url = git@github.com:minhson0506/Vooler-FrontEnd.git
